<h1>Restaurant#show</h1>

<div class="container">

<p><u><%= @restaurant.name %></u></p>
<p><em><%= @restaurant.address %></em></p>
<p><%= @restaurant.category %></p>

</div>

<div class="container">
<%= link_to "back", restaurants_path %>
</div>
